node_modules
**/node_modules
.pnpm-store

dist
build
.next
out

.env
.env.local
.env.*.local

.git
.gitignore

*.log

.vscode
.idea

coverage
playwright-report
test-results

apps/api/uploads
apps/api/spa.traineddata

*.tsbuildinfo

docs
README.md
