# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/dev.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
playwright-report/
test-results/

# Uploads (dev local storage)
apps/api/uploads/

# Cache de idioma de tesseract.js descargado en local (no es codigo fuente)
apps/api/spa.traineddata

# Misc
*.tsbuildinfo
